<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/login_style.css">
    <script src="static/js/main_script.js"></script>
    <script src="static/js/doctor_script.js"></script>
</head>
<body>
<div class="index-page">
  <h1>Doctor logged in.</h1> <br/>
    <form class="add_recipe" id="add_recipe">
      <label for="doctor_ID">
          Doctor ID
            <input type="number" value={{id}} class="doctor_ID" id="doctor_ID" readonly>
      </label>
      <label for="patient_ID">
          Patient ID
            <input type="number" placeholder="Patient ID" class="patient_ID" id="patient_ID"/>
      </label>
      <label for="recipe_description">
          Recipe description
            <input type="text" placeholder="Description" class="recipe_description" id="recipe_description"/>
      </label>
      <button id="add_recipe_btn">Add recipe</button>
    </form>
  <button id="logout">Logout</button>
</div>
</body>
</html>