#recipes {
    display: none;
}

#empty {
    height: 0;
}

.section {
    margin: 0 auto;
    width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
}

#inputAdd {
    width: 780px;
}

input#inputAdd_text {
    width: 54%;
}

input#medicine-quantity {
    width: 12%;
}

input#medicine-transaction-id {
    width: 15%;
}

input#medicine-value {
    width: 12%;
}

#add_medicine_btn {
    top: 12px;
    right: -25px;
}

#copy_recipe {
    margin-top: 10px;
}


.recipe {
    margin-bottom: 10px;
}

.medicine-prescription-id:after {
	content: " - ";
	display: inline-block;
}
