#recipe {
    display: none;
}

#empty {
    height: 0;
}

.section {
    margin: 0 auto;
    width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
}

#inputAdd {
    width: 780px;
}

input#inputAdd_text {
    width: 66%;
}

input#medicine-quantity {
    width: 27%;
}

#add_medicine_btn {
    top: 12px;
    right: -25px;
}